<div class="lecture">
  <h2>Animals</h2>
  <ul>
    <li *ngFor="let animal of animals">
      <a routerLink="/list/{{animal.id}}">{{animal.name}}</a>
      is a {{animal.type}} at
      the age of {{
      animal.age }}
      <button (click)="showAge(animal)">
        Show animal age
      </button>
      <button (click)="removeAnimal(animal)">
        Remove
      </button>
    </li>
  </ul>
  <form>
    <h3>Create animal</h3>
    <input type="text" [(ngModel)]="animalName" name="animalName" placeholder="animal name...">
    <input type="text" [(ngModel)]="animalType" name="animalType" placeholder="animal type...">
    <input type="number" [(ngModel)]="animalAge" name="animalAge" placeholder="animal age...">
    <button (click)="createAnimal(animalName, animalType, animalAge)">
      create
    </button>
  </form>
  <h3>
    <span *ngIf="!!animalDetails; else noAnimalDetails">{{animalDetails}}</span>
    <ng-template #noAnimalDetails>
      <span>No animals selected. Click in one of the buttons above</span>
    </ng-template>
  </h3>
</div>
